*.pdf
*.log
*.aux
*.lyx~
*.out
*.blg
*.bbl
*.toc
*.nav
*.snm
*.bcf
*.lof
*.lox
*.fls
*.vrb
*.dvi
*.md5
*.makefile
*.figlist
*.fdb_latexmk
*.synctex.gz
*.png
*.djvu
*.run.xml
*.sublime-project
*.sublime-workspace
Literature