*.log
*.aux
*.lyx~
*.out
*.blg
*.bbl
*.toc
*.nav
*.snm
*.bcf
*.lof
*.lox
*.fls
*.vrb
*.dvi
*.md5
*.idx
*.ilg
*.ind
*.dpth
*.makefile
*.figlist
*.fdb_latexmk
*.synctex.gz
*.auxlock
*.png
*.djvu
*.run.xml
*.synctex(busy)
*.sublime-project
*.sublime-workspace
Literature
figures